/node_modules
/public/fonts
/public/hot
/public/images
/public/storage
/public/*.css
/public/*.js
/public/*.json
/public/*.svg
/storage/*.key
/vendor*
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.rnd
/resources/views/css.blade.php
*_old*.json
*_old*.lock
!/public/pwa-manifest.json